# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=ohCDWZgNIU0

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'
a = []

In [ ]:
# print the value of a
print(a)

[]

In [ ]:
# print the type of a
print(type(a))

<class 'list'>

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [ ]:
#code here
languages = ['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [ ]:
#code here
len(languages)

5

Using for loop iterate and print all the elements in the list

In [ ]:
#code here
for i in languages:
  print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
#code here
temp = languages[1]

Print the value of temp and type(temp)

In [ ]:
#code here
print(temp)
print(type(temp))

Python
<class 'str'>

Using list comprehension, print the last two elemets of list

In [ ]:
# code here
print(languages[-2:])

['Scala', 42]

Append the element 'Java' in the list

In [ ]:
#code here
languages.append('Java')
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

Remove the element 42 from the list and print the list

In [ ]:
#code here
languages.pop(4)
print(languages)

['R', 'Python', 'SAS', 'Scala']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [ ]:
#code here
colors =['Red','Blue','White']

Append the element 'Black' to colors

In [ ]:
#code here
colors.append('Black')
print(colors)

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [ ]:
# code here
colors.insert(1,'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [ ]:
# code here
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [ ]:
# code here
colors2 = ['Grey','Sky Blue']
print(colors2)

['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [ ]:
#code here
colors.extend(colors2)
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [ ]:
# code here
len(colors)

7

Sort the list and print it.

In [ ]:
# code here
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [ ]:
# code here
sent = 'Coronavirus Caused Lockdowns Around The World'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [ ]:
# code here
print(f"{sent}".split( ))

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [ ]:
# code here
words_lower =[i.lower() for i in sent.split()] 
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether ‘country’ is in the list

In [ ]:
# code here
for i in sent:

  if 'country' in sent:
   print(True)
  else:
    print(False)

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

Remove the element ‘the’ from the list and print the list.

In [ ]:
# code here
sent = ['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']
sent.remove('the')
print(sent)

['coronavirus', 'caused', 'lockdowns', 'around', 'world']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [ ]:
#code here
words_lower = ['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']
#x4 =[]
#x4.append(words_lower[0:4])
words_lower[0:4]=x4

In [ ]:
# print x4
print(x4)

[['coronavirus', 'caused', 'lockdowns', 'around']]

Convert the list of elements to single string using join function and print it

In [ ]:
#code here
words_lower = ['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']
print(" ".join(words_lower))

coronavirus caused lockdowns around the world

## 2. Sets

Reference:-https://www.youtube.com/watch?v=sBvaPopWOmQ

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [ ]:
#code here
stud_grades =['A','A','B','C','C','F']

Print the len of stud_grades

In [ ]:
#code here
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [ ]:
#code here
stud_grades_set =set(stud_grades)

Print stud_grades_set.

In [ ]:
#code here
print(stud_grades_set)

{'A', 'F', 'B', 'C'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [ ]:
#code here
print(type(stud_grades))
print(type(stud_grades_set))

<class 'list'>
<class 'set'>

Add a new element ‘G’ to stud_grades_set

In [42]:
#code here
stud_grades_set.add('G')
print(stud_grades_set)

{'A', 'F', 'B', 'G', 'C'}

Add element 'F' to stud_grades_set. and print it.

In [43]:
#code here
stud_grades_set.add('F')
print(stud_grades_set)

{'A', 'F', 'B', 'G', 'C'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [46]:
#code here
stud_grades_set = {'A', 'F', 'B', 'G', 'C'}
stud_grades_set.remove('F')
print(stud_grades_set)

{'A', 'B', 'G', 'C'}

Print the elements and the length of stud_grades_set

In [47]:
#code here
print(stud_grades_set)
len(stud_grades_set)

{'A', 'B', 'G', 'C'}

4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [4]:
#code here
colors =['red','blue','orange']
fruits =['orange','grapes','apples']

Print color and fruits

In [5]:
#code here
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [6]:
#code here
colors_set = set(colors)
fruit_set = set(fruits)
print(colors_set)
print(fruit_set)

{'blue', 'red', 'orange'}
{'orange', 'grapes', 'apples'}

Find the union of both the sets.

In [7]:
#code here
print(colors_set | fruit_set)

{'blue', 'red', 'orange', 'grapes', 'apples'}

Find the intersection of both the sets

In [8]:
#code here

colors_set = set(colors)
fruit_set = set(fruits)

print(colors_set & fruit_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [10]:
#code here
#print(colors_set - fruit_set)
print(colors_set.difference(fruit_set))

{'blue', 'red'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=NI26dqhs2Rk

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [11]:
#code here

temp = [17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [12]:
#code here

for i in temp:
  print(temp)

[17, 'Virat', 50.0]
[17, 'Virat', 50.0]
[17, 'Virat', 50.0]

replace first element with 11 in temp

In [22]:
#code here
'''
temp = [17,'Virat',50.0]
y =list(temp)
temp[0] = 11
temp = tuple(y)
print(temp)
'''
temp =[17,'Virat',50.0]
temp[0]=11
print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [23]:
#code here
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [24]:
#code here
for i in temp1:

  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [26]:
#code here
temp1 = [11, 'Virat', 50.0]
y = list(temp1)
temp1[0]= 17
temp1= tuple(y)
print(temp1)

(11, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [41]:
#code here
city =("bangalore",28.9949521 , 72)

Print first element of city

In [44]:
#code here
print(city[0])

bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [29]:
#code here
city2 =('chennai',30.01, 74)

Create cities which consist of city and city2

In [38]:
#code here
cities = city + city2
print(cities)

('bangalore', 28.9949521, 72, 'chennai', 30.01, 74)

Print cities

In [32]:
#code here

print(cities)

('bangalore', 28.9949521, 72, 'chennai', 30.01, 74)

Print type of first element in cities

In [35]:
#code here
print(type(cities[0]))

<class 'str'>

print the type of cities

In [34]:
#code here

print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=XCcpzWs-CI4

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [45]:
#code here
d = {'actor':'amir','animal':'cat','earth':2,'list':[23,32,12]}

Print the value of d[0]

In [46]:
#code here

print(d[0])

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [47]:
#code here
actor = d['actor']

Print the type of actor

In [48]:
#code here
print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [49]:
#code here
l = d['list']

Print the type of l.

In [50]:
#code here
print(type(l))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [56]:
#code here
d1 ={'singer':'Kr$na','album':'still here','genre':'hip-hop'}

d = {'actor':'amir','animal':'cat','earth':2,'list':[23,32,12]}

Merge d1 into d.

In [61]:
#code here
def Merge(d, d1):
  z= d.copy()
  z.update(d1)
  return z
  
z = Merge(d,d1)
print(z)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'still here', 'genre': 'hip-hop'}

print d

In [63]:
#code here
print(z)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'still here', 'genre': 'hip-hop'}

Print all the keys in d

In [64]:
#code here
d = {'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'still here', 'genre': 'hip-hop'}
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [65]:
#code here
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [70]:
#code here
for key in d:
  print(key,'--->',d[key])

actor ---> amir
animal ---> cat
earth ---> 2
list ---> [23, 32, 12]
singer ---> Kr$na
album ---> still here
genre ---> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [ ]:
#code here
sent = 'Coronavirus Caused Lockdowns Around The World'
i = 0
temp_var =" "
while i <len(sent):
  if sent[i] not in temp_var:
    temp_var +=sent[i]
    print(f"{sent[i]} : {sent.count(sent[i]) }")
    i+=1

C : 2
o : 6
r : 4

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------

# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

**Please fill this feedback form**
https://docs.google.com/forms/d/e/1FAIpQLSfjBmH0yJSSA34IhSVx4h2eDMgOAeG4Dk-yHid__NMTk3Hq5g/viewform