# <center> Python basics</center>

## Variable declaration

Covers the topic of variable declaration and type of variables

reference:- https://youtu.be/RVYY7zMiPbg

<p style='text-align: right;'> 1+1+1+1+1 = 5 points</p>

In [ ]:
# declare two variables, a = 5, b = 'city'
a = 5# your code here
b = 'city'# your code here

In [ ]:
# print type of a
print(a)

5

In [ ]:
# print type of b

print(b)

city

In [ ]:
# swap the values of a and b
a = 5
b = 'city'
temp = a
a = b
b = temp
print(a)
print(b)

city
5

In [ ]:
# run this to confirm 
print('a = ' + str(a) + ' , b = ' + str(b))

a = city , b = 5

## Arithmetic Operations

Simple mathematical operations and using math module to apply mathematical functions

- Mathematical operations

reference:- https://youtu.be/0-hzxfkpHy8

<p style='text-align: right;'> 1 + 7 = 8 points </p>

In [ ]:
# declare two variables, a = 24, b = 3

a = 24
b = 3
print('a = {}, b = {}'.format(a,b))

a = 24, b = 3

In [25]:
# calculate and print all the possible numeriacl operations on a and b (There are total 7 operations)

a = 5
b = 10

print(f"a + b = " ,a+b)
print(f"a - b =",a-b)
print(f"a * b =",a*b)
print(f"a / b =",a/b)
print(f"a % b =",a%b)
print(f"a // b = ",a//b)
print(f"a ^ b =", a^b)

a + b =  15
a - b = -5
a * b = 50
a / b = 0.5
a % b = 5
a // b =  0
a ^ b = 15

## Math Functions

Math module contains various mathematical functions. 

Reference:- https://youtu.be/gktjNyV0xks

<p style='text-align: right;'> 1 + 4 = 5 points </p>

In [10]:
import math
# declare a variable a = 2
a = 2 #your code here
print('a = ',a)

a =  2

In [11]:
# declare a variable x = 2 and y=5.32167

x= 2 
#code here
y= 5.32167
#code here

In [12]:
# Print the maximum value between x and y
print(max(x,y))

5.32167

In [13]:
# Round value of y upto 2 decimal places
print(round(y,2))

5.32

In [28]:
# Print square and cube of x and store in a and b variable
a = x*x
b = x**3
print(a)
print(b)

4
8

In [29]:
#print log of x and store it in variable c
c = x
print(math.log(c))

0.6931471805599453

In [32]:
#print minimum value between x,y,a, b and c
x = 2
y = 5.32167
a = 4
b = 8
c = 0.6931471805599453
print(min(x,y,a,b,c))

0.6931471805599453

In [33]:
#print the largest integer not greater than c.
print(math.ceil(c)-1)

0

In [34]:
#print the smallest integer not less than c.
print(math.ceil(c))

1

## Logical opeations

Reference:- https://youtu.be/9w992l9TFIs

<p style='text-align: right;'> 1 + 1 + 1 + 6 = 9 points </p>

In [35]:
# declare two variables, a = True, b = False

a =  True#your code here
b = False#your code here

print(a)
print(b)

True
False

In [36]:
# print type of a and type of b
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [37]:
# print int(a) and int(b)
print(int(a))
print(int(b))

1
0

In [38]:
# Find and print the values of not a, not b, a and b, a or b, a and not b
print(f"not a =",not a)
print(f"not b =",not b)
print(f"a and b =",a and b)
print(f"a or b =",a or b)
print(f"a and not b =",a and not b)

not a = False
not b = True
a and b = False
a or b = True
a and not b = True

## List Comprehensions

Reference:- https://youtu.be/17gTGqHG5xQ

<p style='text-align: right;'> 10 + 10 + 10= 30 points </p>

In [2]:
# Using list comprehension, create a list containing numbers from 1 to 20.

l1 = [x for x in range(1,21)]
 #your code here

print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [3]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even

l2 =  [x for x in range(1,21) if x%2 == 0]
#your code here

print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the length of fruits corresponding fruits
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [4]:
fruits = ['apple','kiwi','orange']
# your code here (create a list of your favourite fruits)
len_fruits =[5,4,6]

print(fruits)
print(len_fruits)

['apple', 'kiwi', 'orange']
[5, 4, 6]

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

## String value and operators

<p style='text-align: right;'> 1 + 1 + 1 + 1 + 1 = 5 points </p>

### Characters in strings

Reference:-  https://youtu.be/LnQDWIMaJlA

In [1]:
# declare the variables x and y

x = 'cat' #your code here
y ='dog' #your code here

In [2]:
#Print both the strings
print(x)
print(y)

cat
dog

In [5]:
#Print first character of both x and y. 

print(f"First ch of x =",x[0])
print(f"first ch of y =",y[0])

First ch of x = c
first ch of y = d

In [8]:
#Print last character of both x and y.
print(f"last ch of x =",x[-1])
print(f"last ch of y =",y[-1])

last ch of x = t
last ch of y = g

In [9]:
#Print len of both x and y
print(f"Length of x is",len(x))
print(f"Length of y is",len(y))

Length of x is 3
Length of y is 3

In [10]:
#concatenate both x and y and store it in variable z and print z
z = x + y
print(z)

catdog

In [17]:
#check if x is part of z 
if x in z:
  print(True)

True

### String slicing

<p style='text-align: right;'> 2 points </p>

In [23]:
#Create variable a = “pineapple”
a = 'pineapple'

print(a)

pineapple

In [25]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]
print(a[0:4])
print(a[4:])

pine
apple

In [28]:
#Convert a into upper case
print(a.upper())

PINEAPPLE

## Sentences

<p style='text-align: right;'> 1+1+1+1+1+1 = 6 points </p>

In [29]:
# Declare a sentence of ‘I am flying to London’
sent ='I am flying to London' 
# your code here

print(sent)

I am flying to London

In [30]:
#Print len of the sentence
print(f"Len of sentence is",len(sent))

Len of sentence is 21

In [37]:
#Using list comprehension, print the word London
sent =['london']
for x in sent:

  print(sent)

['london']

In [48]:
# Use .split to get list of individual words in the sentence
sent = ['I am flying to London']
([i for item in sent for i in item.split( )])

['I', 'am', 'flying', 'to', 'London']

In [51]:
# Convert sentence in lower case 
sent = 'I am flying to London'
print(sent.lower())

i am flying to london

In [52]:
# Convert sentence in upper case .

print(sent.upper())

I AM FLYING TO LONDON

## Functions

### Declare a function which  takes input as x, and returns the square of x. 
Reference:- https://youtu.be/Rpq9MC67M08

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [64]:
def square(x):
  '''
    square = []
    for i in square:
      i.append(i**2)
      print(i)
      '''
    
  return x*x

Call the function to find the value of square of 9.

In [66]:
# find the value of square of 9 using the function squ
o = square(9)
print(f"Square of 9 is ",o)

Square of 9 is  81

### Define another function which checks whether a given number if odd or even, for a given input, it should print whether the given number is odd or even.

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [69]:
# your code here
def check_odd_even(x):
    if x%2 == 0:
       print(f"{x} is even")
    else:
       print(f"{x} is odd")

Using both the functions to check whether the square of 3,6,21 is odd or even.

In [70]:
 # your code here
check_odd_even(3)
check_odd_even(6)
check_odd_even(21)

3 is odd
6 is even
21 is odd

# Loops and Iterations
Reference:- https://youtu.be/6iF8Xb7Z3wQ

## If statement

<p style='text-align: right;'> 1 + 2 + 3 = 6 points </p>

In [71]:
#Declare a variable x equal to a number of your choice.
#your code here
x = 4 # add a number of your choice (mine is 3 :) )
print(x)

4

In [77]:
#Using an if statement, print whether the number is 0, positive or negative.
if x == 0:
  print(f"{x} is zero")
elif x > 0:
  print(f"{x} is positive")
else:
  print(f"{x} is negative")

4 is positive

In [78]:
# Define a function, which takes input from the user and prints whether the given input is 0,positive or negative.

def check_num(x):
    if x == 0:
      print(f"{x} is zero")
    elif x > 0:
      print(f"{x} is positive")
    else:
      print(f"{x} is negative")



check_num(10)
check_num(-2)
check_num(0)

10 is positive
-2 is negative
0 is zero

## For loop

<p style='text-align: right;'> 2 points </p>

In [81]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.

x = ["India","Isreal","Canada"]

In [83]:
#Using For loop, iterate over the list and print the elements.

x = ["India","Isreal","Canada"]
for i in x:
  print(x)

['India', 'Isreal', 'Canada']
['India', 'Isreal', 'Canada']
['India', 'Isreal', 'Canada']

<p style='text-align: right;'> 2 points </p>

In [87]:
# Using For loop, print the table of 2.
num = 2
for i in range(2,11):
  print(num, '*', i, '=', num*i)

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [92]:
#code here

x = [21 ,'hello','cream',20,19,'village']
for i in x:
  if type(i) == int:
    print(abs(i))

21
20
19

Using For loop, create the following pattern.

<p style='text-align: right;'> 10 points </p>

In [ ]:
# print the following pattern

*
* *
* * *
* * * *
* * * * *

In [2]:
#your code here
for row in range(1,6):
  for column in range(1,row+1):
    print("*", end =" ")
  print()

*
* *
* * *
* * * *
* * * * *

## While loop

- Using while loop make a function that prints all the values between 1 to n.

<p style='text-align: right;'> 10 points </p>

In [18]:
def counter(n):
    # add your code here
    i= 1
    while i<n:
     print(i)
     i+=1

In [19]:
print(counter(10)) #this should print numbers from 1 to 10

1
2
3
4
5
6
7
8
9
None

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [33]:
# your code here
num = 5
x = True
while x:
  num+=5
  print(num)
  if num >50:
     x = False

10
15
20
25
30
35
40
45
50
55

----------------------------------------------------------------------

# Smile, you completed the first milestone :)!!

# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

**Please fill this feedback form**
https://docs.google.com/forms/d/e/1FAIpQLSfjBmH0yJSSA34IhSVx4h2eDMgOAeG4Dk-yHid__NMTk3Hq5g/viewform